name: Metrics
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: MustafaTRKYLMZ
          filename: github-metrics.svg
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
